@import "@/app/_styles/mixins";
@import "@/app/_styles/colors";

.post {
  @include card;
  > div {
    @include flex-column;
    > h4 {
      width: 100%;
      display: flex;
      margin-bottom: 0.5rem;
      justify-content: space-between;
      a {
        transition: color 0.5s ease-in-out;
        min-width: 24px;
        color: $primary;
        &:hover {
          text-decoration: none;
          color: lighten($primary, 20%);
        }
      }
    }
  }
}
