@import "@/app/_styles/colors";
@import "@/app/_styles/mixins";

.main {
  @include flex-column;
  align-items: flex-start;
  padding: 4rem 2rem;
  min-height: 100vh;
  background-color: $background;
  color: $foreground;
}

@media (min-width: 576px) {
  .main {
    padding: 4rem 6rem;
  }
}

@media (min-width: 768px) {
  .main {
    padding: 4rem 12rem;
  }
}

@media (min-width: 1024px) {
  .main {
    padding: 4rem 18rem;
  }
}

@media (min-width: 1280px) {
  .main {
    padding: 4rem 24rem;
  }
}
