@import "@/app/_styles/colors";
@import "@/app/_styles/mixins";

.main {
  @include flex-column;
  align-items: flex-start;
  padding: 3rem 6rem;
  min-height: 100vh;
  background-color: $background;
  color: $foreground;
}
